body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(2,0,36,1);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  justify-content: flex-start;
background: rgb(18,20,50);
   left:0;
  top:0;
  padding: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.logo{
  font-size: 30px;
  color: #207cb6;
  font-weight: bold;
  transition: 0.5s;
  margin-left: 10px;
}
.logo:hover{
  color: rgb(155, 60, 60);
  text-decoration: none;
  cursor: pointer;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: rgb(131,127,127);
  background: radial-gradient(circle, rgba(131,127,127,1) 0%, rgba(2,0,36,1) 58%);
}
.form{
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 90%;
  background: rgb(37, 37, 59);
  text-align: center;
  transition: all 0.5s ease;
  opacity: 0.7;
}
.form:hover{
  opacity: 1;
}
.form h1{
  font-size: 100px;
  margin-bottom: 0;
}
.form input{
  width: 70%;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.form p{
  font-size: 60px;
  align-self: center;
}

.submit{
 background-color: black;
 color: aliceblue;
 transition: all 0.5s ease;
}
.submit:hover{
  background-color: rgb(199, 202, 207);
  color:black;
  cursor: pointer;}


.lgOutbtn {background-image: linear-gradient(to right, #314755 0%, #132769  51%, #314755  100%)}
.lgOutbtn {
   margin: 5px;
   padding: 10px 40px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   display: block;
   border:none;
 }

 .lgOutbtn:hover {
   background-position: right center;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
 }

.links{
  margin-left: auto;
  display: flex;

}
.posts{
  width: 60%;
  font-size: 15px;
  flex: 0 0 auto;       
  display: flex;       
  flex-direction: column;
  position: relative;
  padding: 5%;
  background: rgba(77, 76, 76, 0.6);
}
.chattingPage{
  font-size: 15px;
  display: flex;       
  background-color: #204053;
  height: 90vh;
  justify-content: space-between;
}
.chats{
  font-size: 15px;
  width: 70%;
  flex: 0 0 auto;       
  display: flex;       
  flex-direction: column;
  position: relative;
  background-color: #081821;
}
.chatBody form{
  display:flex;
  justify-content: space-between;
  border:none;
  padding:1%;
  width: 96%;
  background-color: #223642;
  color: white;
  border-radius: 2.5rem;
  transition: 0.5s;
}
.landing{
  width:100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/free-vector/abstract-dark-blue-background-with-overlapping-stripe_500223-232.jpg");
  background-size: cover;
}

.regBtn {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  border-radius: 2.5rem;
  background-color: transparent;
  border:none;
  padding:5%;
  margin:10%;
}
.regBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 2.5rem;

  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.regBtn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
  cursor: pointer;
  border-radius: 2.5rem;

}
.regBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
  cursor: pointer;
  border-radius: 2.5rem;


}
.regBtn:hover::after {
  opacity: 1;
  transform: scale(1,1);
  cursor: pointer;
  border-radius: 2.5rem;
}
.landBtn {
  color: #FFF;
  transition: all 0.5s;
  position: relative;
  background-color: transparent;
  border:none;
  padding:1%;
  margin:1%;
}
.landBtn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.landBtn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
  cursor: pointer;
}
.landBtn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
  cursor: pointer;

}
.landBtn:hover::after {
  opacity: 1;
  transform: scale(1,1);
  cursor: pointer;
}
.landingContent{
  background: rgba(77, 76, 76, 0.6);
  padding:5%;
  margin-top:10%;
  margin-left: auto;
  border:none;
}
#search{
  border:none;
  align-self:center;
  padding:1%;
  width: 40%;
  background-color: #223642;
  color: white;
  border-radius: 2.5rem;
  transition: 0.5s;
  margin-left:auto;
}
.chatBody #them, #you{
  padding:10px;
  width: 10%;
  background-color: #223642;
  color: white;
  border-radius: 2.5rem;
}
.chatp{
  margin-top: auto;
}
#you{
  margin-left:auto;
  margin-right:3%;
}
.chatBody{
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.chatBody form input{
  width:100%;
  border:none;
  background:transparent;
  color: white;
}
#submit{
  width:30%;
  padding:10px;
}
#submit:hover{
  background-color: #16222a;
  color: white;
  cursor: pointer;
  border-radius:2.5rem;
}
.chatBody form input:focus{
  outline: none;
}
.chatHeader{
  width: 100%;
  background-color: #09202d;
  padding: 2%;
}
.chatlist{
  width:100%;
  font-size: 15px;
  display: flex;       
  flex-direction: column;
  position: relative;
  background-color: #1b2a33;
  align-items: center;
}
.chatlist div{
  margin-top: auto;
  width: 98%;
  background-color: #0d1a21;
  padding:1%;
  transition: 0.5s;
}
.chatlist div:hover{
  background-color: #1a313e;
  cursor: pointer;
}
.chatlist input{
  border:none;
  padding:10px;
  width: 80%;
  background-color: #0d1b24;
  color: white;
  border-radius: 2.5rem;
  transition: 0.5s;
  margin:1%;
}
.dashboard{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.postList{
  display:flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
  width:60%;
  margin-left: 20%;
}
 .profile{
  display: flex;
  gap:10px;
  font-weight: bolder;
  margin-bottom: 1%;
}
.profile img{
  width:50px;
  height:50px;
  border-radius: 50%;
}
.posts hr{
  width: 100%;
}
.like:hover{
  cursor: pointer;
}
.posts input{
  border:none;
  padding:10px;
  background-color: #0c2839;
  color: white;
  border-radius: 2.5rem;
  margin:1%;
}
.posts input:focus{
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}



  




